.wrap{
   width: 1030px;
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content:right;
    background-color: #f6f6f8;
    padding-right: 40px;
    position: relative;
    padding-top: 10px;
}

.fb,
.twitter{
    margin-right: 5px;
}

.boder{
    height: 15px;
    position: absolute top;
    border: 1px solid #000;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}
.title p a{
    text-decoration: none;
    color: #1DA1F2;  
}
.title p a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.header img{
    margin-left: 20px;
}
.header ul{
    display: flex;
    padding-top: 20px;
}
.header ul li{
   margin-left: 50px;
}
.header ul li a{
    text-decoration: none;
    color: #000
}
.header ul li a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.main img{
    width: 100%;
    position: relative;
}
.main-h2{
    position: absolute;
    top: 30%;
    color: aliceblue;
    font-size: 40px;
    padding-left: 10%;
    line-height: 1.6;
    width: 1030px;
    background: rgba(0,0,0,0.2);
}
.menu ul li h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
.menu ul{  
    display: flex;    
    margin-top: 20px;
    width: 1030px;
}
.menu  ul li{
    box-shadow: 3px 3px 10px gray  ;
    width: 305px;
    margin-right: 20px;
    padding: 20px;
    margin:  0 auto;
}


.menu p{
    line-height: 1.6;
}
.table h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 26px;
}
.table{
    width: 1030px;
}
.table th{
    width: 850px;
    text-align: left;
    padding-left: 50px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table td{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.content{
    display: flex;
   
   
}
.item{
    width: 430px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    color: #ffffff;
}
.material{
    background:linear-gradient(#00644b,#009771);
}
.material h2{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.material p{
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}
.message{
    width: 460px;
    height: 240px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.name,
.phone,
.email{
    font-size: 18px;
    margin-bottom: 10px;
}
.sub{
    width: 75px;
    height: 30px;
    margin-left:83%;
    margin-top: 20px;
    cursor: pointer;
}